
@font-face {
	font-family: 'Muller';
	src: url('../fonts/Muller Regular.eot');
	src: local('☺'), url('../fonts/Muller Regular.woff') format('woff'), url('../fonts/Muller Regular.ttf') format('truetype'), url('../fonts/Muller Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Muller';
	src: url('../fonts/Fontfabric - MullerBold.eot');
	src: local('☺'), url('../fonts/Fontfabric - MullerBold.woff') format('woff'), url('../fonts/Fontfabric - MullerBold.ttf') format('truetype'), url('../fonts/Fontfabric - MullerBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Muller';
}

.container {
    width: 1390px;
    padding: 0 15px;
    margin: 0 auto;
}